body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.title{
	font-family:  'Roboto', sans-serif;
	padding-left: 12px;
}
body input{
	margin-top: 22px;
	text-align: center;
	margin-left: 12px;
}
body button{
	margin-top: 15px;
	text-align: center;
	padding-left: 13%;
}
body img{
	width: 22%;
	padding-left: 1%;
	margin-top: -8%;
}